---
layout: default
title: Home
showbanner: yes
bannertext: Dinosaurs are awesome
---


<h1>Dino's R US</h1>
<p>Here is some random text to read for this website. Here is somemore text too. More text, more text and more text.</p>


<div class="grid promo-group">

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-1-1-3">
		{% include promo-small.html title="Promo" desc="Final Sale on last stock" image="air-dinos/pteranodon.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-1-1-3">
		{% include promo-small.html title="Promo Two" desc="Now only $99.99" image="air-dinos/archeopteryx.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-1-1-3">
		{% include promo-small.html title="Promo Three" desc="Sale til Monday" image="air-dinos/rhamphorhynchus.jpg" %}
	</div>
	
</div>